[user]
  name = nadine-piveteau
  email = nadine.piv@gmail.com
[color]
  ui = true
[core]
  pager = more
  editor = vi
  autocrlf = input
[alias]
  lg = log -p
  logbranch = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
